@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Poppins:wght@300&display=swap');

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #123514, #1c4e1e);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    letter-spacing: 2px;
}

hr {
    width: 100%;
    border-color: #fff;
}

.btn:focus {
    box-shadow: none;
  }

.container--main {
    height: 100vh;
}

.window {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
}
